body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url("../pic/iron.jpg");
    background-size: cover;
}

h1 {
    color: white;
}